__pycache__/
c-src
alice.gz
alice.txt
data/advent.blk
data/advent.dat
data/boot_advent.fs
*_fpp*.fs
scripts/alice.dzy
scripts/alice.wzy
scripts/corpus.asc
c65-*.dat
tests/excursion*log
.c65
.DS_Store
.vscode
adv350jg/